<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>블로그 메인</title>
</head>
<body>
    <h3>
        <a href="{% url 'common:login' %}">로그인</a>
        <a href="{% url 'blog:post_create' %}">글쓰기</a>
    </h3>
    {% if post_list %}
        {% for post in post_list %}
            <h2>
                <a href="{% url 'blog:detail' post.id %}">{{ post.title }}
                </a>
            </h2>
            {% if post.photo %}
            <div>
                <img src="{{ post.photo.url }}" alt="">
            </div>
            {% endif %}
        {% endfor %}
    {% endif %}
</body>
</html>